      .s{
        margin-left: 250px;
        margin-top: 100px;
      }
      a {
        text-decoration: none;
        color: white;
      }

      body {
        background-color: whitesmoke;
        
        font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
        color: #fff;
      }

      h2 {
        font-weight: normal;
        margin-bottom: 0;
        padding-left: 15px;
        text-align: center;
      
      }

      .menu {
       background-color: #00000080;
        height: 100vh;
        width: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        outline: none;
      }

      ul {
        list-style: none;
        padding: 0.5em 0;
        margin: 0;
      }

      li {
        padding: 0.5em 1em 0.5em 3em;
        font-size: 0.95em;
        font-weight: regular;
        background-repeat: no-repeat;
        background-position: left 15px center;
        background-size: auto 20px;
        transition: all 0.15s linear;
        padding: 1em 1em 1em 3em; 
        font-size: 1.2em;
      }


      ul a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
       
        
        display: block;
      }
      
      ul a:hover {
        background-color:  #6c7d9b;     
      }